* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
  header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: gray;
    font-size: 3rem;
  }
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  input,
  button {
    border: none;
    padding: 0.25rem 0.5rem;
    font-size: 1.75rem;
    margin: 0.1rem;
  }
  input[type="number"] {
    width: 60px;
    text-align: center;
  }
  //   搜尋hidden arrow
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
button {
  cursor: pointer;
  background-color: #3f87a6;
  color: #ebf8e1;
}
